body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f5f5;
    color: #333;
    text-align: center;
    padding: 50px;
}

/* Styles appliqués après activation du code Konami */
body.konami {
    background: linear-gradient(135deg,#00aad4);
    color: white;
}

body.konami main h1 {
    text-shadow: 2px 2px 8px #000;
    font-size: 3em;
}

body.konami p {
    font-size: 1.5em;
    font-weight: bold;
}