.section {
background-color: #88c1d0;
height: 200px;
margin: 10px;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
background-color: #f0f0f0;
}


#menu {
list-style: none;
display: flex;
gap: 20px;
}


#menu li a {
text-decoration: none;
color: black;
}


#burger {
display: none;
background: none;
border: none;
font-size: 30px;
cursor: pointer;
}


@media (max-width: 767px) {
#menu {
display: none;
flex-direction: column;
gap: 10px;
margin-top: 10px;
}


#menu.show {
display: flex;
}


#burger {
display: block;
}


.section {
width: 100%;
}
}